In [14]:
import json

with open('../datasets/ceuk_qa_messages.json') as f:
    qa_messages = json.load(f)


def get_cleaned_item(message):
    message_content = message['message']
    reply_to_msg_id = message['reply_to']['reply_to_msg_id']

    return {
        'id': message['id'],
        'reply_to_msg_id': reply_to_msg_id,
        'message': message_content
    }

qa_messages = [get_cleaned_item(
    item) for item in qa_messages if item['reply_to'] != None and 'message' in item]

qa_messages[2]

{'id': 43291, 'reply_to_msg_id': 43290, 'message': '۲۳ تا ۲۹'}

In [19]:
import pandas as pd

data = pd.DataFrame(qa_messages)

data.head()

      id  reply_to_msg_id                         message
0  43294            43293        من فصل ۴ . ۵ . ۶ رو دارم
1  43293            43292     #سوال pdf کتاب رو کسی داره؟
2  43291            43290                        ۲۳ تا ۲۹
3  43288            43287  #ج\nسلام\nتوسط بخش انتخاب میشه
4  43286            43277               سلام میشه بفرستید